.App {
    display: flex; /* Asettaa elementit riviin */
    flex-direction: column; /* Asettaa elementit pystyriviin */
    min-height: 100vh; /* Asettaa elementin minimikorkeuden */
    font-family: Arial, sans-serif; /* Asettaa fontin */
    background-image: url('../images/Tausta.jpg'); /* Asettaa taustakuvan */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

/* Yläreunan header-tyyli */
.header {
    background-color: #090833; /* Asettaa taustavärin */
    color: #ffffff; /* Asettaa tekstin värin */
    font: Arial, sans-serif; /* Asettaa fontin */
    padding: 10px 0; /* Asettaa sisällön etäisyyden elementin reunoista */
    text-align: center; /* Asettaa tekstin keskelle vaakatasossa */
    border-bottom: 1px solid #ffffff; /* Asettaa reunuksen */
    display: flex; /* Asettaa elementit riviin */
    justify-content: center; /* Asettaa elementit keskelle vaakatasossa */
    align-items: center; /* Asettaa elementit keskelle pystysuunnassa */
}

/* Alapalkki muiden tietojen näyttämiseen */
.subheader {
    background-color: #090833; /* Asettaa taustavärin */
    padding: 0; /* Asettaa sisällön etäisyyden elementin reunoista */
    border-bottom: 1px solid #ccc; /* Asettaa reunuksen */
    display: flex; /* Asettaa elementit riviin */
    justify-content: space-between; /* Asettaa elementit tasaisesti vaakatasossa */
    align-items: center; /* Asettaa elementit keskelle pystysuunnassa */
    height: 50px; /* Asettaa elementin korkeuden */
    color: #ffffff; /* Asettaa tekstin värin */

}

/* Dropdown-valikon tyyli */
.dropdown {
    color: #ffffff; /* Asettaa tekstin värin */
    height: 100%; /* Asettaa elementin korkeuden */
    margin: 0; /* Asettaa sisällön etäisyyden elementin reunoista */
    border: none; /* Poistaa reunuksen */
    -webkit-appearance: none; /* Poistaa oletusarvoisen ulkoasun */
    -moz-appearance: none; /* Poistaa oletusarvoisen ulkoasun */
    appearance: none; /* Poistaa oletusarvoisen ulkoasun */
    background-color: transparent;  /* Asettaa taustavärin */
    padding: 0 10px; /* Asettaa sisällön etäisyyden elementin reunoista */
    box-sizing: border-box; 
}

/* Dropdown-valikon nuoli */
.subheader select {
    background: url('../images/arrow_colored_background.png') no-repeat right; /* Asettaa taustakuvan */
    background-size: 25px 25px;  
    padding-right: 30px; /* Asettaa sisällön etäisyyden elementin reunoista */
    background-color: #090833; /* Asettaa taustavärin */
}

/* Asettaa subheaderin sisällön keskelle ja dropdown-valikon oikeaan reunaan */
.subheader {
    display: flex; /* Asettaa elementit riviin */
    justify-content: space-between; /* Asettaa elementit tasaisesti vaakatasossa */
    align-items: stretch; /* Asettaa elementit venymään pystysuunnassa */
}

/* Lisää laatikolle pyöreät kulmat ja varjostus */
.content-box {
    border-radius: 15px; /* Asettaa reunuksen kulmien pyöristyksen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Asettaa varjostuksen */
    background-color: rgba(255, 255, 255, 0.95); /* Asettaa taustavärin */
    margin: 20px; /* Asettaa sisällön etäisyyden elementin reunoista */
    padding: 20px; /* Asettaa sisällön etäisyyden elementin reunoista */
    width: auto; /* Asettaa elementin leveyden */
    max-width: 80%; /* Asettaa elementin maksimileveyden */
    text-align: center; /* Asettaa tekstin keskelle vaakatasossa */
}

/* Pääsisällön tyylit */
.main-content {
    display: flex; /* Asettaa elementit riviin */
    justify-content: center; /* Asettaa elementit keskelle vaakatasossa */
    align-items: center; /* Asettaa elementit keskelle pystysuunnassa */
    padding: 20px; /* Asettaa sisällön etäisyyden elementin reunoista */
    flex-grow: 1; /* Asettaa elementin kasvamaan */
}

/* Tämä varmistaa, että sisältö näkyy keskitetysti ja että laatikko on keskellä */
.main-content>* {
    width: 100%; /* Asettaa elementin leveyden */
    max-width: 1200px; /* Asettaa elementin maksimileveyden */
}