/* Sivun perusasettelu */
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('../images/Tausta.jpg');
    /* Aseta sivun taustakuva */
    background-size: cover;
    background-position: center;
}

/* Yläreunan header-tyyli */
.header {
    background-color: #f0f0f0;
    /* Harmaa taustaväri */
    padding: 10px 0;
    /* Pienentää pystysuuntaista paddingia */
    text-align: center;
    border-bottom: 1px solid #ccc;
    /* Vaalea raja alapuolella */
    display: flex;
    justify-content: center;
    /* Keskittää sisällön */
    align-items: center;

}

/* Alapalkki sää- ja muiden tietojen näyttämiseen */
.subheader {
    background-color: #f9f9f9;
    /* Vaaleampi harmaa taustaväri */
    padding: 0;
    /* Poistaa pystysuuntaisen paddingin */
    border-bottom: 1px solid #ccc;
    /* Vaalea raja alapuolella */
    display: flex;
    justify-content: space-between;
    /* Täyttää tilan ja työntää navin oikealle */
    align-items: center;
    height: 50px;
    /* Asettaa korkeuden */

}

/* Dropdown-valikon tyyli */
.dropdown {
    height: 100%; /* Asettaa korkeuden koko subheaderin korkeudeksi */
    /* width: 100%; Poista tämä sääntö, jos et halua dropdownin olevan täysleveä */
    margin: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0 10px; /* Vähentää paddingia */
    box-sizing: border-box;
  }

/* Dropdown-valikon nuoli */
.subheader select {
    background: url('../images/dropdownarrot.jpg') no-repeat right; /* Asettaa alasvetovalikon nuolen */
    background-size: 25px 25px; /* Asettaa kuvakkeen koon */
    padding-right: 30px; /* Asettaa oikean paddingin, jotta teksti ei mene kuvakkeen päälle */
  }

/* Asettaa subheaderin sisällön keskelle ja dropdown-valikon oikeaan reunaan */
.subheader {
    display: flex;
    justify-content: space-between;
    /* Asettaa sisällön ja dropdown-valikon eri päihin */
    align-items: stretch; /* Asettaa lasten korkeuden täyttämään vanhemman korkeuden */

    /* Keskittää elementit pystysuunnassa */
    
}

/* Lisätään laatikolle pyöreät kulmat ja varjostus */
.content-box {
    border-radius: 15px;
    /* Pyöristetyt kulmat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Varjostus */
    background-color: rgba(255, 255, 255, 0.95);
    /* Hieman läpinäkyvä valkoinen tausta */
    margin: 20px;
    padding: 20px;
    width: auto;
    /* Määrittää laatikon leveyden automaattisesti sisällön mukaan */
    max-width: 80%;
    /* Maksimileveys, jotta se ei veny liian suureksi */
    text-align: center;
    /* Keskittää tekstin */
}

/* Pääsisällön tyylit */
.main-content {
    display: flex;
    justify-content: center;
    /* Keskittää sisällön vaakasuunnassa */
    align-items: center;
    /* Keskittää sisällön pystysuunnassa */
    padding: 20px;
    flex-grow: 1;
}

/* Tämä varmistaa, että sisältö näkyy keskitetysti ja että laatikko on keskellä */
.main-content>* {
    width: 100%;
    /* Asettaa sisällön leveyden */
    max-width: 1200px;
    /* Asettaa sisällön maksimileveyden */
}


/* Tässä voisi olla muita tyylejä tarpeen mukaan */