.calculator {
    font-family: 'Helvetica', 'Arial', sans-serif; /* Asettaa fontin */
    width: 100%; /* Asettaa elementin leveyden */
    max-width: 400px; /* Asettaa elementin maksimileveyden */
    margin: 20px auto; /* Asettaa elementin keskelle vaakatasossa */
}

.otsikko {
    text-align: center; /* Asettaa tekstin keskelle vaakatasossa */
    margin-bottom: 20px; /* Asettaa elementin alareunan etäisyyden */
}

.calculator-display {
    box-sizing: border-box; 
    width: 100%; /* Asettaa elementin leveyden */
    background: #222; /* Asettaa taustavärin */
    color: white; /* Asettaa tekstin värin */
    text-align: right; /* Asettaa tekstin oikealle */
    padding: 20px; /* Asettaa sisällön etäisyyden elementin reunoista */
    font-size: 2em; /*Asettaa fontin koon */
    border: 1px solid #999;
    margin-bottom: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #e0e0e0;
    color: #333; /* Asettaa värin */
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    outline: none; 
    
}

button.operator,
.all-clear,
.equal-sign {
    color: white;
}

.operator {
    background-color: #ff8c00;
}

.equal-sign,
.all-clear {
    background-color: #1e90ff;
}

.equal-sign {
    grid-column: span 2;
}

.all-clear {
    grid-row: span 1;
    grid-column: span 2;
}

button.zero {
    grid-column: span 2;
}

button:active {
    background-color: #ccc;
}

button:hover:not(.operator),
button:focus:not(.operator) {
    background-color: #ddd;
}

button.operator:hover,
button.operator:focus{
    background-color: #fd7e14;
}


button.all-clear:hover,
button.all-clear:focus,
button.equal-sign:hover,
button.equal-sign:focus {
    background-color: #0f52ba;
}

.placeholder {
    background-color: #ddd;
    border: none;
}