.snake-game {
    touch-action: none;
    border: 1px solid black; /* Asettaa reunuksen */
    margin-bottom: 10px; /* Asettaa elementin alareunan etäisyyden */

}

.game-container {
    display: flex; /* Asettaa elementit riviin */
    flex-direction: column; /* Asettaa elementit pystyriviin */
    align-items: center; /* Asettaa elementit keskelle vaakatasossa */
    justify-content: center; /* Asettaa elementit keskelle pystysuunnassa */
    margin-top: 20px; /* Asettaa elementin yläreunan etäisyyden */
}

.button {
    width: 200px; /* Asettaa elementin leveyden */
    background-color: #007bff; /* Asettaa taustavärin */
    color: white; /* Asettaa tekstin värin */
    padding: 10px 20px; /* Asettaa sisällön etäisyyden elementin reunoista */
    border: none; /* Poistaa reunuksen */
    border-radius: 5px; /* Asettaa reunuksen kulmien pyöristyksen */
    cursor: pointer; /* Asettaa kursorin muodon */
    font-size: 16px; /*Asettaa fontin koon */
    margin: 5px; /* Asettaa elementin yläreunan etäisyyden */
    transition: background-color 0.3s ease; /* Asettaa siirtymän keston ja tyylin */
}

.speed-buttons {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px; 
}


/* Hiiren ollessa nappien päällä */
.button:hover {
    background-color: #0056b3; 
}

/* Aktiivinen/valittu nopeusnappi */
.button-active {
    background-color: #ffc107;
}

/* Napin painettu/aktiivinen tila */
.button:active {
    background-color: #ffc107;
}