.snake-game {
    border: 1px solid black;
    margin-bottom: 10px; /* Lisää väliä canvasin ja Aloita-napin välille */

}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Keskittää lapset pystysuunnassa */
    justify-content: center; /* Keskittää lapset vaakasuunnassa */
    margin-top: 20px; /* Lisää tilaa yläreunaan, voit säätää tätä tarpeen mukaan */
}

.button {
    width: 200px;
    background-color: #007bff;
    /* Sininen */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    /* Väli nappejen välillä */
    transition: background-color 0.3s ease;
}

.speed-buttons {
    display: flex;
    justify-content: center;
    /* Keskittää lapset vaakasuunnassa */
    flex-wrap: wrap;
    /* Mahdollistaa lasten siirtymisen uudelle riville tarvittaessa */
    gap: 1px;
    /* Lisää väliä nappien välille */
}


/* Hiiren ollessa nappien päällä */
.button:hover {
    background-color: #0056b3;
    /* Tummennettu sininen */
}

/* Aktiivinen/valittu nopeusnappi */
.button-active {
    background-color: #ffc107;
    /* Keltainen */
}

/* Napin painettu/aktiivinen tila */
.button:active {
    background-color: #ffc107;
    /* Keltainen */
}