body {
  background-color: #f5f5f5; /* Pehmeä harmaa tausta */
  font-family: 'Arial', sans-serif; /* Muuta tarvittaessa haluamaksesi fontiksi */
  color: #333; /* Tummanharmaa teksti */
  margin: 0; /* Poistaa selaimen oletusmarginaalit */
  padding: 0; /* Poistaa selaimen oletuspaddingin */
  box-sizing: border-box; /* Varmistaa, että kaikki elementit käyttävät border-box-mallia */
}

.app {
  display: flex;
}

.left-side, .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Keskittää sisällön vaakasuunnassa */
}

/* Uusi tyyli pelilaudalle ja muille sovelluksille */
.game-container {
  position: relative; /* Asettaa pelilaudan sisällön suhteen */
  border: 2px solid #e6e6e6; /* A light grey to blend with the background */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background-color: white; /* Ensuring the background is white */
  padding: 20px; /* Giving some space inside the container */
  width: 100%; /* Asettaa laatikon leveyden */
  max-width: 400px; /* tai toinen sopiva leveys */
  min-height: 590px; /* Asettaa minimikorkeuden, jotta laatikon korkeus ei vaihtele */
  margin: 20px; /* Lisää tilaa ympärille */
  display: flex;
  flex-direction: column;
  align-items: center; /* Keskittää sisällön pystysuunnassa */
  overflow: auto; /* Lisää vierityspalkin tarvittaessa */
}

.text-box {
  text-align: center; /* Keskittää tekstin */
  padding: 20px; /* Lisää sisäistä tilaa */
  background: #ffffff; /* Valkoinen tausta */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Hienovarainen varjostus */
  border-radius: 8px; /* Pyöristetyt kulmat */
  margin-bottom: 20px; /* Tilaa tekstilaatikon ja pelilaudan välille */
  width: 100%;
  max-width: 400px;
}

.menu {
  width: 100%; /* Asettaa valikon leveyden */
  max-width: 400px; /* tai toinen sopiva leveys */
}

.menu ul {
  list-style-type: none; /* Poistaa listan merkit */
  padding: 0; /* Poistaa paddingin */
}

.menu li {
  margin: 10px 0;
  background: #ffffff; /* Valkoinen tausta */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Hienovarainen varjostus */
  border-radius: 8px; /* Pyöristetyt kulmat */
}

.menu li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block; /* Tehdään koko alue klikattavaksi */
  transition: background-color 0.2s; /* Animaatio hover-efektille */
}
